<!--
<div class="diary-entry">
  <div class="diary-entry__content">
    <div class="diary-entry__date">
      <div class="diary-entry__icon">
        <span class="material-icons">calendar_today</span>
      </div>
      <div class="diary-entry__dateContent">
        10:00 AM | Oct 22.2020
      </div>
    </div>
    <div class="diary-entry__post">
      I need to add smile from the library ☺️☺️☺️
    </div>
  </div>

  <button class="diary-entry__btn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
-->



<div class="diary-entry" *ngFor="let post of posts">
  <div class="diary-entry__content">
    <div class="diary-entry__date">
      <div class="diary-entry__icon">
        <span class="material-icons">calendar_today</span>
      </div>
      <div class="diary-entry__dateContent">
        {{ post.date }}
      </div>
    </div>
    <div class="diary-entry__post">
      {{ post.post }}
    </div>
  </div>

  <button class="diary-entry__btn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
