<div class="wrap-diary">

  <mat-card class="example-card">

    <!--    <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </form>

        <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>-->

    <!--    <mat-form-field>
          <textarea matInput placeholder="Status Content" style="height: 200px;"></textarea>
          <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>
        </mat-form-field>-->


    <mat-form-field>
      <form [formGroup]="emojiForm">
        <textarea formControlName="inputField" matInput placeholder="Status Content" style="height: 200px;"></textarea>
        <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
      </form>
    </mat-form-field>


  </mat-card>

</div>

