<div class="wrap-card">

  <mat-card class="diary-card">
    <div class="diary-card__header">
      <span>Your diary</span>
      <span class="material-icons">arrow_forward</span>
    </div>
    <form class="diary-form" [formGroup]="emojiForm">
      <mat-form-field class="diary-card__field" appearance="outline">
        <textarea formControlName="inputField" matInput rows="3" placeholder="Write something"></textarea>
      </mat-form-field>
    </form>
    <emoji-mart *ngIf="showEmojiPicker" totalFrequentLines="1" (emojiClick)="addEmoji($event)"></emoji-mart>
    <mat-card-actions class="diary-card__actions">
      <div class="diary-card__btnTogle">
        <button mat-button (click)="toggleEmojiPicker()">
          <span *ngIf="!showEmojiPicker" class="material-icons">sentiment_satisfied_alt</span>
          <span *ngIf="showEmojiPicker" class="material-icons">keyboard_alt</span>
        </button>
      </div>
      <button mat-button class="diary-card__btnSave">Save</button>
    </mat-card-actions>
  </mat-card>

</div>

